<% if prev_page or next_page %>
  <nav>
    <ul class="pager">
      <% if prev_page %>
        <li class="previous">
          <%= link_to "&laquo; #{prev_page.header}", "/#{I18n.locale}/#{prev_page.path}/" %>
        </li>
      <% end %>
      <% if next_page %>
      <li class="next">
        <%= link_to "#{next_page.header} &raquo;", "/#{I18n.locale}/#{next_page.path}/" %>
      </li>
      <% end %>
    </ul>
  </nav>
<% end %>
