<div class="welcome text-center">
  <h1>Sample Book Title:</h1>
  <h2>Sub-title Goes Here</h2>
  <h3>Author</h3>
  <p><%= link_to "Read the book", "/en/#{default_edition}/#{first_section.values.first.path}.html", class: 'btn btn-primary btn-lg read-book-btn' %></p>
</div><!-- .welcome -->
